:root{
    --color-blue: #00a4e5;
    --color-dark: #171819;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 41px;
    position: relative;
}
.logo{
    margin: 0px auto;
    width: 102px;
    height: 23px;
}
header h1{
    width: 900px;
    height: 70px;
    line-height: 70px;
    font-size: 60px;
    text-align: center;
    margin: 0px auto;
    color: #fff;
    position: absolute;
    top: 50%;
    left: calc(50% - 450px);
}
header p{
    width: 700px;
    height: 22px;
    line-height: 22px;
    font-size: 19px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: calc(50% + 70px);
    left: calc(50% - 350px);
}
header span{
    display: block;
    width: 150px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin: 0px auto;
    color: #fff;
    position: absolute;
    bottom: 71px;
    left: calc(50% - 75px);
}
nav{
    width: 80%;
    height: 65px;
    margin: 0px auto;
    padding-top: 24px;
    display: flex;
}
nav div{
    width: 50%;
    height: 100%;
}
nav ul{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
nav li{
    width: 70px;
    height: 16px;
    list-style: none;
    font-size: 12px;
    text-align: center;
}
nav li:hover{
    color: var(--color-blue);
    cursor: pointer;
    
}
.icon_menu{
    width: 65px;
    height: 65px;
    display: none;
}
.icon_menu img{
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
}
#about{
    padding-top: 57px;
    margin: auto;
    width: 940px;
}
#about h2{
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 70px;
}
#about h2::after{
    content: "";
    display: block;
    width: 50px;
    height: 12px;
    border-bottom: 2px solid var(--color-blue);
    margin: 0px auto;
}
.about__content{
    width: 100%;
    display: flex;
}
.about__content-left{
    width: 50%;
    padding-right: 56px;
}
.about__content-left h3{
    margin-bottom: 30px;
}
.about__content-right{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.about__card{
    height: 250px;
    background-color: cadetblue;
    padding: 13px;
    font-size: 24px;
    color: #fff;
}

.services__head{
    grid-area: head;
    background-color: rgb(23, 174, 179);
}
.services__description{
    grid-area: description;
    background-color: rgb(182, 137, 233);
}
.services__button{
    grid-area: button;
    background-color: rgb(49, 124, 48);
}
.card-service{
    padding: 38px 22px 38px 23px;
}
.card-service_theme_light{
    background-color: #fff;
    color: #000;
    border: 1px solid #E6E6E6;
}
.card-service_theme_dark{
    background-color: rgb(44, 44, 44);
    color: #fff;
    border: 1px solid rgb(72, 72, 72);;
}
.card-service__icon{
    display: block;
    margin-bottom: 25px;
}
.card-service__header{
    width: 100%;
    height: 48px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 13px;
}
.card-service__description{
    width: 100%;
    height: 92px;
    font-size: 13px;
    line-height: 23px;
}
.c1{
    grid-area: card1; 
}
.c2{
    grid-area: card2; 
}
.c3{
    grid-area: card3; 
}
#services{
    width: 940px;
    height: 446px;
    margin: auto;
    margin-bottom: 115px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 116px 330px;
    grid-template-areas: 
        'head head description description description button'
        'card1 card1 card2 card2 card3 card3';
    grid-gap: 28px;
}
footer{
    width: 100%;
    height: 60px;
    background-color: var(--color-dark);
}
footer p{
    height: 60px;
    line-height: 60px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    margin: auto;
}
@media (max-width: 400px) {
    header h1{
        width: 100%;
        height: 210px;
        line-height: 70px;
        font-size: 48px;
        padding: 0px 20px;
        top: 30%;
        left: 0px;
    }
    header p{
        width: 100%;
        height: auto;
        padding: 0px 20px;
        line-height: 22px;
        font-size: 19px;
        top: calc(30% + 250px);
        left: 0px;
    }
    .icon_menu{
        display: block;
    }
    .icon_menu:hover~ul{
        display: block;
    }
    nav{
        width: 100%;
        padding-top: 0px;
        position: relative;
    }
    nav div{
        width: calc(100% - 65px);
    }
    nav ul{
        display: none;
        position: absolute;
        width: 100%;
        height: auto;
        top: 65px;
        left: 0px;
        background-color: #ffffff;
    }
    nav li{
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 26px;
    }
	#about{
        width: 100%;
    }
    .about__content{
        flex-direction: column;
    }
    .about__content-left{
        width: 100%;
        margin-bottom: 30px;
    }
    .about__content-left h3{
        width: 100%;
        text-align: center;
        padding: 0px 20px;
    }
    .about__content-left p{
        width: 100%;
        text-align: justify;
        padding: 0px 20px;
    }
    .about__content-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .about__card{
        width: 100%;
        height: 100px;
    }
    #services{
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 116px 116px 116px 330px 330px 330px;
        grid-template-areas: 
        'head'
        'description'
        'button'
        'card1'
        'card2'
        'card3';
    }
}
